<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="header">
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">
                    <img src="/assets/logofinal.png" alt="imagem logo" height="300px" width="300px"/>
                </h1>
                <p class="lead fw-normal text-white-50 mb-0">Brilhe como as estrelas com Galáxia Joias: A beleza que transcende o universo.</p>
            </div>
        </div>
    </header>
</header>

<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>


</body>
</html>