<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Carrinho</title>
</head>
<body>
    <h1>Carrinho</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <!-- Adicione mais colunas conforme necessário -->
            </tr>
        </thead>
        <tbody>
            <!-- Iterar sobre os produtos do carrinho e exibi-los -->
            <tr th:each="produto : ${carrinho}">
                <td th:text="${produto.nome}"></td>
                <td th:text="${produto.preco}"></td>
                <img th:src="${produto.photosImagePath}" height="100px" width="200px"/>
                <!-- Adicione mais colunas conforme necessário -->
            </tr>
        </tbody>
    </table>
    <a href="/finalizarCompra">Finalizar Compra</a>
</body>
</html>
